.clients {
  padding: 50px 0 50px 0;
}

.clients-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .clients_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .clients_brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  .clients {
    padding: 30px 0;
    .clients-content {
      h2 {
        font-size: 30px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .clients {
    padding: 30px 0;
    .clients-content {
      h2 {
        font-size: 30px;
        text-align: center;
      }
    }
  }
}
