.community {
  padding: 50px 0 50px 0;

  .community-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .community_text {
      text-align: center;
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0 auto;
    }

    .community_cards {
      display: flex;
      gap: 50px;
      justify-content: space-between;

      .community_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
        text-align: center;
        width: 30%;
        box-shadow: 1px 1px 5px rgb(239, 239, 239);
        padding: 20px 70px;
        border-radius: 8px;

        h3 {
          font-size: 28px;
          text-align: center;
          color: var(--color-title);
        }

        p {
          font-size: 14px;
        }
      }
      .community_card:hover {
        box-shadow: 1px 1px 5px var(--color-bt-green-hover);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .community {
    padding: 30px 0;

    .community-content {
      .community_text {
        width: 100%;

        h2 {
          font-size: 30px;
        }
      }

      .community_cards {
        flex-direction: column;
        gap: 20px;

        .community_card {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .community {
    padding: 30px 0;

    .community-content {
      .community_text {
        width: 100%;

        h2 {
          font-size: 30px;
        }
      }

      .community_cards {
        flex-direction: column;
        gap: 20px;

        .community_card {
          width: 100%;
        }
      }
    }
  }
}
