.demo {
  padding: 50px 0 50px 0;

  .demo_content {
    margin: 0 auto;
    text-align: center;
    width: 45%;

    button {
      background-color: var(--color-bt-green);
      width: 128px;
      height: 52px;
      border-radius: 4px;
      border: none;
      color: white;
      font-size: 16px;
      margin-top: 20px;
    }

    button:hover {
      cursor: pointer;
      box-shadow: 1px 1px 5px var(--color-bt-green);
      background-color: var(--color-bt-green-hover);
    }
  }
}

@media screen and (max-width: 480px) {
  .demo {
    .demo_content {
      width: 100%;
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .demo {
    .demo_content {
      width: 100%;
    }
  }
}
