.nav-bar {
  background-color: var(--color-background);
}

.nav-bar_content {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-bar_logo img {
    width: 150px;
    cursor: pointer;
  }

  .nav-bar_menu ul {
    display: flex;
    gap: 40px;

    a {
      color: #18191f;
    }
    a:hover {
      color: var(--color-bt-green);
      font-weight: 600;
    }
  }

  .nav-bar_login {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;

    .login {
      color: var(--color-bt-green);
      font-weight: 500;
      font-size: 14px;
      border-radius: 10px;
      cursor: pointer;
      border: none;
      background-color: transparent;
      height: 40px;
      width: 80px;
    }
    .login:hover {
      box-shadow: 1px 1px 5px var(--color-bt-green-hover);
    }

    .signup {
      background-color: var(--color-bt-green);
      border: none;
      border-radius: 10px;
      color: white;
      cursor: pointer;
      font-size: 14px;
      height: 40px;
      width: 91px;
    }

    .signup:hover {
      box-shadow: 1px 1px 5px var(--color-bt-green);
      background-color: var(--color-bt-green-hover);
    }
  }
}

@media screen and (max-width: 480px) {
  .nav-bar {
    .nav-bar_content {
      padding: 30px 0 0 0;
      justify-content: center;

      .nav-bar_logo img {
        width: 200px;
      }

      .nav-bar_login {
        display: none;
      }

      .nav-bar_menu {
        display: none;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .nav-bar {
    .nav-bar_content {
      padding: 30px 0 0 0;
      justify-content: center;

      .nav-bar_logo img {
        width: 200px;
      }

      .nav-bar_login {
        display: none;
      }

      .nav-bar_menu {
        display: none;
      }
    }
  }
}
