@import url(nav_bar.css);
@import url(hero.css);
@import url(clients.css);
@import url(community.css);
@import url(unlock.css);
@import url(achievements.css);
@import url(customers.css);
@import url(updates.css);
@import url(demo.css);
@import url(footer.css);

:root {
  --color-background: #f5f7fa;
  --color-bt-green: #4caf4f;
  --color-bt-green-hover: #2e7d31;
  --color-title: #4d4d4d;
  --color-text: #717171;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2 {
  color: var(--color-title);
  font-size: 36px;
}

p {
  color: var(--color-text);
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
