.updates {
  padding: 50px 0 50px 0;

  .updates-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .content_text {
      text-align: center;
      width: 60%;

      h2 {
        padding: 10px 0;
      }
    }

    .content_cards {
      display: flex;
      gap: 1%;
      align-items: center;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        font-size: 20px;
        position: relative;

        button {
          width: 80%;
          background-color: transparent;
          border: none;
          color: var(--color-bt-green);
          font-size: 20px;
          font-weight: bold;
          margin-top: 20px;
          cursor: pointer;
        }
      }
      .card_info {
        text-align: center;
        background-color: #f5f7fa;
        width: 80%;
        height: 145px;
        padding: 16px;
        border-radius: 8px;
        margin-top: 60%;
        position: absolute;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .updates {
    padding: 30px 0 50px 0;

    .updates-content {
      .content_cards {
        flex-direction: column;
        gap: 100px;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .updates {
    padding: 30px 0 50px 0;

    .updates-content {
      .content_cards {
        flex-direction: column;
        gap: 100px;
      }

      .content_text {
        width: 90%;
      }
    }
  }
}
